[Unit]
Description=booksing
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/var/lib/booksing

Environment=GOMAXPROCS=4
Environment=GIN_MODE=release

Environment=BOOKSING_ACCEPTEDLANGUAGES="nl,en"
Environment=BOOKSING_BINDADDRESS=":7132"
Environment=BOOKSING_BOOKDIR="/var/lib/booksing/books"
Environment=BOOKSING_DATABASEDIR="/var/lib/booksing/db"
Environment=BOOKSING_FAILDIR="/var/lib/booksing/failed"
Environment=BOOKSING_IMPORTDIR="/var/lib/booksing/import"
Environment=BOOKSING_LOGLEVEL=info
Environment=BOOKSING_MAXSIZE="50000000"
Environment=BOOKSING_TIMEZONE="Europe/Amsterdam"
Environment=BOOKSING_MEILIADDRESS="http://localhost:7700"
Environment=BOOKSING_MEILISECRET="lksdjflakndsg"


LimitNOFILE=65536

Restart=always
ExecStart=/usr/local/bin/booksing
KillSignal=SIGINT
PrivateDevices=true
ReadWriteDirectories=/var/lib/booksing


[Install]
WantedBy=multi-user.target
